.head {
  border-radius: 80px;
  background-color: sandybrown;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
::-webkit-scrollbar {
  display: none;
}
.input-cal {
  width: 25px;
  border-radius: 4px;
  background-color: black;
  color: yellow;
  font-weight: bolder;
  text-align: center;
}
.sign-cal {
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  font-weight: bolder;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
}
.result-cal {
  border-radius: 5px;
  width: 15px;
  margin-left: 3px;
  background-color: black;
  color: yellow;
  font-weight: bolder;
  text-align: center;
}
/* .calculater-hide {
  display: none;
}
.calculater-show {
  display: block;
} */

/*  */
/* .label {
  animation: type;
  animation-duration: 3s steps(14);
  overflow: hidden;
  white-space: nowrap;
  width: 14ch;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 14ch;
  }
} */

.left-eye {
  border-radius: 40px;
  background-color: black;
  width: 20px;
  height: 20px;
  margin-left: 65px;
}

.white {
  border-radius: 40px;
  background-color: white;
  width: 10px;
  height: 10px;
  margin-left: 3px;
}

.right-eye {
  border-radius: 40px;
  background-color: black;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 30px;
  margin-top: 80px;
}

.right-eye-closed {
  border-radius: 40px;
  background-color: black;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-left: 30px;
}
.left-eye-closed {
  border-radius: 40px;
  background-color: black;
  width: 15px;
  height: 5px;
  margin-left: 65px;
  margin-top: 8px;
}

.mouth {
  border-radius: 40px;
  background-color: black;
  width: 15px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.mouth-closed {
  border-radius: 40px;
  background-color: black;
  width: 15px;
  height: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.tongue {
  border-radius: 40px;
  background-color: white;
  width: 10px;
  height: 5px;
  margin-left: 1px;
}

.body {
  background-color: silver;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 55px;
  height: 90px;
  border-radius: 5px;
  margin-left: 25px;
}
.container {
  margin-left: 300px;
  width: 300px;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  box-shadow: coral;
}

.pensiero {
  background-color: turquoise;
  width: 250px;
  height: 110px;
  border-radius: 5px;
  font-size: larger;
  opacity: 0.7;
}
.input {
  border-radius: 5px;
}
@keyframes example {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 6px;
  }
  50% {
    top: 6px;
    left: 6px;
  }
  75% {
    top: 6px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}
