body {
  background-color: blue;
}

.head {
  border-radius: 80px;
  background-color: sandybrown;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.left-eye {
  border-radius: 40px;
  background-color: black;
  width: 20px;
  height: 20px;
  margin-left: 65px;
}

.white {
  border-radius: 40px;
  background-color: white;
  width: 10px;
  height: 10px;
  margin-left: 3px;
}

.right-eye {
  border-radius: 40px;
  background-color: black;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 30px;
  margin-top: 80px;
}

.mouth {
  border-radius: 40px;
  background-color: black;
  width: 15px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.tongue {
  border-radius: 40px;
  background-color: white;
  width: 10px;
  height: 5px;
  margin-left: 1px;
}

.body {
  background-color: silver;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 55px;
  height: 90px;
  border-radius: 5px;
  margin-left: 25px;
}
.container {
  margin-left: 450px;
  width: 300px;
}
.pensiero {
  background-color: lightcoral;
  width: 400px;
  height: 100px;
  border-radius: 5px;
  font-size: larger;
}
input {
  border-radius: 4px;
}
/* .punto-uno {
  border-radius: 40px;
  background-color: white;
  width: 40px;
  height: 40px;
  margin-left: 430px;
  margin-top: 50px;
}

.punto-due {
  border-radius: 40px;
  background-color: white;
  width: 30px;
  height: 30px;
  margin-left: 400px;
  margin-top: 20px;
} */
